<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/showList']" routerLinkActive="active">Contact list</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/addContact']" routerLinkActive="active">Add Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/userProfile']" routerLinkActive="active">User Profile</a>
    </li>
  </ul>
  <button class="btn btn-warning" (click)="logout()">Logout</button>
</nav>