<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <!-- <a class="nav-link" [routerLink]="['/showList']">Contact list</a> -->
      <a class="nav-link" >Contact list</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" [routerLink]="['/addContact']">Add Contact</a> -->
      <a class="nav-link">Add Contact</a>
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" [routerLink]="['/userProfile']">User Profile</a> -->
      <a class="nav-link">User Profile</a>
    </li>
  </ul>
  <button class="btn btn-default" (click)="logout()">Logout</button>
</nav>
