<app-navbar></app-navbar>
<div class="container col-md-8">
  <form>
    <div class="form-group">
      <label for="contactName">Contact Name:</label>
      <input type="text" class="form-control" id="contactname" placeholder="Enter Contact Name" name="contactname">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile Number:</label>
      <input type="mobile" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>