<app-navbar></app-navbar>
    <div class="container col-md-8">
      <form [formGroup]="addContact" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Contact Name: <sup class="error">*</sup></label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter contact Name">
          <div class="error" *ngIf="submitted && controls.name.invalid">
            <span class="error" *ngIf="controls.name.errors.required">contactName is required </span>
          </div>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile Number: <sup class="error">*</sup></label>
          <input type="text" formControlName="mobile" class="form-control" id="mobile" placeholder="Enter mobile">
          <div class="error" *ngIf="submitted && controls.mobile.invalid">
            <span class="error" *ngIf="controls.mobile.errors.required">mobile is required </span>
            <span class="error" *ngIf="controls.mobile.errors.pattern">Should be a valid 10 digit numbers </span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
