<app-navbar></app-navbar>
<div class="container">
  <h2>Contact List</h2>
  <p>Detail Contact List</p>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile Number </th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>9117458965</td>
        <td><button class="btn btn-info" (click)="editRecord(form)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="expression">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #form let-c="close">
  <div class="container">
    <h3>Edit Contact</h3>
    <hr>
    <form>
      <div class="form-group">
        <input type="text" value="John" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" value="8894663471" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger ml-5" (click)="c('jnkjn')">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>